/* Variables */
$base-color: #ced4da;
$light-color: lighten(desaturate($base-color, 50%), 12.5%);

/**/
.current-page {
  font-size: .9rem;
  line-height: 6;
}

/*Product's image*/
.product-card-container {
  min-width: 150px;
  max-width: 350px;
  align-items: center;
  margin: auto;
  height: 360px;
  cursor: pointer;
  position: relative;

  /*Product' card font-size*/
  .product-name {
    font-size: 1rem;
  }
}


.price {
  font-size: 0.9rem;
}


.product-name,
.price {
  line-height: 2;
}

/*Button to sort by price high-low or low-high*/
.sort-by{
  padding: 0.8rem 1.1rem;
  min-width: 4.5rem;
  text-align: center;
  box-shadow: none !important;
  border-color: $base-color !important;
  color: saturate(darken($base-color, 35%), 15%);
  font-weight: 800;
  font-size: 1.2rem;
}

/*Boozt logo*/
.logo{
  padding: 9px;
  width: 200px;
}


// Override Bootstrap's pagination styles
ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  li.page-item.active {
    a.page-link {
      color: saturate(darken($base-color, 55%), 5%) !important;
      background-color: saturate(lighten($base-color, 6.5%), 3.5%) !important;
      border-color: $base-color !important;
    }
  }

  a.page-link {
    /*Adjusts the pagination buttons to the screen size */
    @media only screen 
    and (min-device-width : 550px) {
      /* Styles */
      padding: 0.8rem 1.1rem;
      min-width: 4.5rem;
    }
    text-align: center;
    box-shadow: none !important;
    border-color: $base-color !important;
    color: saturate(darken($base-color, 35%), 15%);
    font-weight: 800;
    font-size: 1rem;

    &:hover {
      background-color: $light-color;
    }
  }
}
